me {
    display: flex;
    justify-content: space-between;
    background-image: url('background.jpg');
    background-color: black;
    background-size: cover;
    color: white;
    font-family: sans-serif;
}

me section {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 12%;
    margin-right: 16%;
    padding-top: 10%;
    padding-right: 50%;
}

me section h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 400%;
}

me section p {
    text-align: justify;
    font-size: 80%;
}