me {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 12%;
    margin-right: 16%;
    height: 720px;
    font-family: sans-serif;
}

me section {
    padding-top: 10%;
    padding-right: 50%;
}

me section h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 400%;
}

me section p {
    color: rgb(64, 64, 64);
    text-align: justify;
}